<div>
	<h2>ngCsp</h2>

	<br />
	<h4 class="text-info">描述：</h4>
	<p class="text-info">
		使CSP（内容安全策略）的支持,开发者模式，本人不才官方翻译理解不了，所以不放上来，等待大牛帮忙翻译。
	</p>
	<br />

	<h4 class="text-success">
		指令优先级
	</h4>
	<p class="text-success">
		优先级别0。
	</p>
	<br />
	<h4 class="text-primary">用法：</h4>
	<h5 class="text-primary">属性方式：</h5>
	<div class="highlight">
        <pre><span class="cp">&lt;!doctype html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">ng-app</span> <span class="na">ng-csp</span><span class="nt">&gt;</span>
...
...
<span class="nt">&lt;/html&gt;</span>
</pre>
	</div>
	<br />
	<h4>例子：</h4><a class="text-warning" target="_blank" href="../demo/ngCsp.html">效果演示</a>
	<div class="highlight" ng-non-bindable>
        <pre><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">xmlns=</span><span class="s">&quot;http://www.w3.org/1999/xhtml&quot;</span> <span class="na">ng-app=</span><span class="s">&quot;cspExample&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;head&gt;</span>
        <span class="nt">&lt;meta</span> <span class="na">http-equiv=</span><span class="s">&quot;Content-Type&quot;</span> <span class="na">content=</span><span class="s">&quot;text/html; charset=utf-8&quot;</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;title&gt;</span>ngCsp例子<span class="nt">&lt;/title&gt;</span>
        <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">&quot;../angular-1.3.9/angular.js&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
        <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span>
        <span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">&#39;cspExample&#39;</span><span class="p">,</span> <span class="p">[])</span>
        <span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">&#39;MainController&#39;</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
        <span class="k">this</span><span class="p">.</span><span class="nx">counter</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
        <span class="k">this</span><span class="p">.</span><span class="nx">inc</span> <span class="o">=</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
        <span class="k">this</span><span class="p">.</span><span class="nx">counter</span><span class="o">++</span><span class="p">;</span>
        <span class="p">};</span>
        <span class="k">this</span><span class="p">.</span><span class="nx">evil</span> <span class="o">=</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
        <span class="c1">// jshint evil:true</span>
        <span class="k">try</span> <span class="p">{</span>
        <span class="nb">eval</span><span class="p">(</span><span class="s1">&#39;1+sd&#39;</span><span class="p">);</span>
        <span class="p">}</span> <span class="k">catch</span> <span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span>
        <span class="k">this</span><span class="p">.</span><span class="nx">evilError</span> <span class="o">=</span> <span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="p">;</span>
        <span class="p">}</span>
        <span class="p">};</span>
        <span class="p">});</span>
        <span class="nt">&lt;/script&gt;</span>
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">&quot;MainController as ctrl&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">ng-click=</span><span class="s">&quot;ctrl.inc()&quot;</span> <span class="na">id=</span><span class="s">&quot;inc&quot;</span><span class="nt">&gt;</span>Increment<span class="nt">&lt;/button&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">id=</span><span class="s">&quot;counter&quot;</span><span class="nt">&gt;</span>
                {{ctrl.counter}}
        <span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">ng-click=</span><span class="s">&quot;ctrl.evil()&quot;</span> <span class="na">id=</span><span class="s">&quot;evil&quot;</span><span class="nt">&gt;</span>Evil<span class="nt">&lt;/button&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">id=</span><span class="s">&quot;evilError&quot;</span><span class="nt">&gt;</span>
                {{ctrl.evilError}}
        <span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre>
	</div>




</div>
