<div>
	<h2>ngTransclude</h2>

	<br />
	<h4 class="text-info">描述：</h4>
	<p class="text-info">
		在自定义指令中嵌入指的的dom内容。<br />
		有时候我我们要嵌入指令元素本身，而不仅仅是它的内容。在这种情况下，我们需要使用 transclude:’element’。它和 transclude:true 不同，它将标记了 ng-transclude 指令的元素一起包含到了指令模板中。使用transclusion，你的link函数会获得一个名叫 transclude 的链接函数，这个函数绑定了正确的指令scope，并且传入了另一个拥有被嵌入DOM元素拷贝的函数。你可以在这个 transclude 函数中执行比如修改元素拷贝或者将它添加到DOM上等操作。 类似 ng-repeat 这样的指令使用这种方式来重复DOM元素。
	</p>
	<br />

	<h4 class="text-success">
		指令优先级
	</h4>
	<p class="text-success">
		优先级别0。
	</p>
	<br />
	<h4 class="text-primary">用法：</h4>
	<h5 class="text-primary">属性方式：</h5>
	<div class="highlight">
        <pre><span class="nt">&lt;ANY</span> <span class="na">ng-transclude</span><span class="nt">&gt;</span>
...
<span class="nt">&lt;/ANY&gt;</span>
</pre>
	</div>


	<br />
	<h4>例子：</h4><a class="text-warning" target="_blank" href="../demo/ngValue.html">效果演示</a>
	<div class="highlight" ng-non-bindable>
        <pre><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">xmlns=</span><span class="s">&quot;http://www.w3.org/1999/xhtml&quot;</span> <span class="na">ng-app=</span><span class="s">&quot;transcludeExample&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;head&gt;</span>
        <span class="nt">&lt;meta</span> <span class="na">http-equiv=</span><span class="s">&quot;Content-Type&quot;</span> <span class="na">content=</span><span class="s">&quot;text/html; charset=utf-8&quot;</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;title&gt;</span>ngTransclude例子<span class="nt">&lt;/title&gt;</span>
        <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">&quot;../angular-1.3.0.14/angular.js&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
        <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span>
        <span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">&#39;transcludeExample&#39;</span><span class="p">,</span> <span class="p">[])</span>
        <span class="p">.</span><span class="nx">directive</span><span class="p">(</span><span class="s1">&#39;pane&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(){</span>
        <span class="k">return</span> <span class="p">{</span>
        <span class="nx">restrict</span><span class="o">:</span> <span class="s1">&#39;E&#39;</span><span class="p">,</span>
        <span class="nx">transclude</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
        <span class="nx">scope</span><span class="o">:</span> <span class="p">{</span> <span class="nx">title</span><span class="o">:</span><span class="s1">&#39;@&#39;</span> <span class="p">},</span>
        <span class="nx">template</span><span class="o">:</span> <span class="s1">&#39;&lt;div style=&quot;border: 1px solid black;&quot;&gt;&#39;</span> <span class="o">+</span>
        <span class="s1">&#39;&lt;div style=&quot;background-color: gray&quot;&gt;{{title}}&lt;/div&gt;&#39;</span> <span class="o">+</span>
        <span class="s1">&#39;&lt;div ng-transclude&gt;&lt;/div&gt;&#39;</span> <span class="o">+</span>
        <span class="s1">&#39;&lt;/div&gt;&#39;</span>
        <span class="p">};</span>
        <span class="p">})</span>
        <span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">&#39;ExampleController&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;$scope&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">$scope</span><span class="p">.</span><span class="nx">title</span> <span class="o">=</span> <span class="s1">&#39;Lorem Ipsum&#39;</span><span class="p">;</span>
        <span class="nx">$scope</span><span class="p">.</span><span class="nx">text</span> <span class="o">=</span> <span class="s1">&#39;Neque porro quisquam est qui dolorem ipsum quia dolor...&#39;</span><span class="p">;</span>
        <span class="p">}]);</span>
        <span class="nt">&lt;/script&gt;</span>
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">&quot;ExampleController&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span> <span class="nt">&lt;br</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;textarea</span> <span class="na">ng-model=</span><span class="s">&quot;text&quot;</span><span class="nt">&gt;&lt;/textarea&gt;</span> <span class="nt">&lt;br</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;pane</span> <span class="na">title=</span><span class="s">&quot;{{title}}&quot;</span><span class="nt">&gt;</span>{{text}}<span class="nt">&lt;/pane&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre>
	</div>


</div>
